@font-face {
    font-family: 'Libre Baskerville';
    font-weight: 400;
    font-display: swap;
    src: url('assets/fonts/libre-baskerville.woff2') format('woff2'),
    url('assets/fonts/libre-baskerville.woff') format('woff'),
    url('assets/fonts/libre-baskerville.ttf') format('truetype');
}

@font-face {
    font-family: 'Karla';
    font-weight: 400;
    font-display: swap;
    src: url('assets/fonts/karla.woff2') format('woff2'),
    url('assets/fonts/karla.woff') format('woff'),
    url('assets/fonts/karla.ttf') format('truetype');
}