// COLORS
// Copypasta from lifestyle repo. We can delete unused colors later

$color-brand-himalayan-blue: #004D52;
$color-brand-surfie-green: #00727A;
$color-brand-electric-blue: #008FB9;
$color-brand-teal: #207692;
$color-brand-bismark: #4D7C84;
$color-brand-slateblue-dark: #6495A3;
$color-brand-downy: #65D2CA;
$color-brand-aloe-teal: #90BFB6;
$color-brand-aqua-island: #9ED8D8;
$color-brand-slateblue: #A0C3CC;
$color-brand-olive-green: #A7BA82;
$color-brand-aloe-teal-light: #AEDBD2;
$color-brand-aqua: #B0DDDD;
$color-brand-grape-purple: #BDACC7;
$color-brand-aqua-blue: #BEC8D7;
$color-brand-conifer: #C3D653;
$color-brand-misty-blue-medium: #C8D8DD;
$color-brand-clove-orange: #CDA578;
$color-brand-aqua-blue-light: #CFD9EB;
$color-brand-gold-mossyellow: #D1C499;
$color-brand-peach-rose: #D3A492;
$color-brand-olive-green-light: #D4DCB5;
$color-brand-light-blue: #D6ECEE;
$color-brand-misty-blue-light: #D9EBF3;
$color-brand-grape-purple-light: #DBCFE3;
$color-brand-tan-brown: #DEB499;
$color-brand-burgundy-redbrown-light: #DEC0C0;
$color-brand-carrot-orange: #E4965F;
$color-brand-tangerine: #E5653C;
$color-brand-double-colonial-white: #E7F0AD;
$color-brand-tan-brown-light: #EBD2C3;
$color-brand-gold-mossyellow-light: #ECE2BE;
$color-brand-apricot-beige-light: #F1C8AB;
$color-brand-ripe-lemon: #F1E21D;
$color-brand-silverblue-lightest: #F1FAFD;
$color-brand-aqua-spring: #F2FBFA;
$color-brand-peach-rose-light: #F3D6C7;
$color-brand-clove-orange-light: #F4CEA0;
$color-brand-apricot-beige: #F6B38E;
$color-brand-peach-yellow: #FAE2A5;
$color-brand-saltpan: #FAFCFB;
$color-brand-pamplemousse: #FF9881;

// Neutral Colors
// 1) Neutral colors are grayscale values used throughout the application
$color-white: #FFFFFF;
$color-gray-07: #EEEEEE;
$color-gray-13: #DDDDDD;
$color-gray-20: #CCCCCC;
$color-gray-53: #777777;
$color-gray-60: #666666;
$color-gray-67: #555555;
$color-gray-71: #4A4A4A;
$color-gray-73: #444444;
$color-gray-74: #424242;
$color-gray-80: #333333;
$color-gray-87: #222222;
$color-black: #000000;
